@import "../../App.scss";

.container {
  margin: 10px;
  .main {
    .btns {
      margin-block: 10px;
      display: flex;
      justify-content: space-between;
      .leftBtns {
        .link {
          text-decoration: none;
          .editBtn {
            display: flex;
            align-items: center;
            gap: 3px;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
            border: none;
            padding: 5px;
            border-radius: 3px;
            color: $background;
            background-color: forestgreen;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
      .rightBtns {
        display: flex;
        gap: 10px;
        .verifyBtn {
          display: flex;
          align-items: center;
          gap: 3px;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
          border: none;
          padding: 5px;
          border-radius: 3px;
          color: $background;
          background-color: #1ea5fe;
          &:hover {
            opacity: 0.7;
          }
          &:disabled {
            background-color: $ltext;
            cursor: not-allowed;
          }
        }
        .inactiveBtn {
          display: flex;
          align-items: center;
          gap: 3px;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
          border: none;
          padding: 5px;
          border-radius: 3px;
          color: $background;
          background-color: crimson;
          &:hover {
            opacity: 0.7;
          }
          &:disabled {
            background-color: $ltext;
            cursor: not-allowed;
          }
        }
        .reuploadBtn {
          display: flex;
          align-items: center;
          gap: 3px;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
          border: none;
          padding: 5px;
          border-radius: 3px;
          color: $background;
          background-color: $accent;
          &:hover {
            opacity: 0.7;
          }
          &:disabled {
            background-color: $ltext;
            cursor: not-allowed;
          }
        }
      }
    }
    .heading {
      // margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      text-transform: uppercase;
      color: $ltext;
    }
    .addNewBtn {
      display: flex;
      align-items: center;
      gap: 3px;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      background-color: $text;
      color: $background;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.7rem;
      padding: 5px;
    }
    .basicDetails {
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, auto));
      border-radius: 3px;
      padding-block: 10px;
      // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      gap: 10px;
      .detail {
        // border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        text-transform: uppercase;
        display: flex;
        gap: 10px;
        p:nth-child(1) {
          font-weight: 500;
          color: $ltext;
        }
        p:nth-child(2) {
          display: flex;
          align-items: center;
          gap: 5px;
          color: $ltext;
        }
        button {
          cursor: pointer;
          border: none;
          padding: 2px;
          border-radius: 3px;
          font-weight: 500;
          color: $background;
          background-color: forestgreen;
          &:disabled {
            background-color: $ltext;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.formFieldsWrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Adjust as needed */
  gap: 1rem;

  .formField {
    /* No need to specify width for form fields */
    span {
      color: crimson;
      font-size: 0.8rem;
    }
    .inputField {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px; /* Adjust font size */
    }
    label {
      font-weight: bold;
    }
  }
}
.dailyReport {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  -webkit-overflow-scrolling: touch;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  scrollbar-width: thin;
  scrollbar-color: $text transparent;
  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid $accent;
      padding: 10px;
      text-align: center;
    }
    td {
      font-size: 0.8rem;
      font-weight: 400;
      color: #717171;
      button {
        cursor: pointer;
        font-weight: 600;
        border-radius: 3px;
        padding: 3px;
        color: $accent;
        background-color: $text;
        border: none;
        &:hover {
          background-color: rgba(0, 0, 0, 0.725);
        }
        &:disabled {
          background-color: $ltext;
          cursor: not-allowed;
        }
      }
    }
    th {
      border: 1px solid black;
      border-top: none;
      font-size: 0.9rem;
      background-color: #fab437;
      color: $text;
      font-weight: 600;
    }
  }
  .reportDetails {
    .employeeDetail {
      // border-bottom: 1px solid $ltext;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      // gap: 100px;
      p:nth-child(1) {
        font-weight: 700;
        color: $text;
      }
      p:nth-child(2) {
        color: $ltext;
      }
    }
  }
}