@import "../../App.scss";

.container {
  border-top: 2px solid $accent;
  margin: 25px 15px;
  padding-top: 25px;
  .holiday {
    background-color: red;
    color: white;
    font-weight: bold;
  }
  .boxes {
    // margin: 20px 50px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 30px;
    .box1 {
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      gap: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        p {
          letter-spacing: 1px;
          font-size: 0.6rem;
          padding: 2px 10px;
          border: none;
          border-radius: 5px;
          color: $background;
          background-color: $ltext;
        }
      }
      p {
        font-weight: 600;
        color: $ltext;
      }
      img {
        border: 3px solid $ltext;
        border-radius: 50%;
        height: 80px;
        width: 80px;
      }
      .btn {
        width: 100%;
        button {
          cursor: pointer;
          padding: 5px;
          border-radius: 5px;
          border: 2px solid $ltext;
          font-size: 0.7rem;
          font-weight: 600;
          background-color: transparent;
          color: $ltext;
          width: 100%;
          transition: all 0.2s ease-in;
          &:hover {
            background-color: $ltext;
            color: $background;
          }
        }
      }
    }
    .box2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px;
      gap: 30px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      p {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        color: $ltext;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
      .checkIn {
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        font-size: 0.7rem;
        border: 2px solid green;
        font-weight: 600;
        background-color: transparent;
        color: green;
        width: 100%;
        &:hover {
          background-color: green;
          color: $background;
        }
      }
      .checkOut {
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        font-size: 0.7rem;
        font-weight: 600;
        background-color: transparent;
        color: red;
        border: 2px solid red;
        width: 100%;
        &:hover {
          background-color: red;
          color: white;
        }
      }
    }
    .box3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 5px;
      gap: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
      p {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        color: $ltext;
      }
      .team {
        min-height: 110px;
        div {
          display: flex;
          gap: 5px;
          justify-content: space-between;
          p:nth-child(1) {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 0.7rem;
            color: $ltext;
          }
          p:nth-child(2) {
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 0.6rem;
            color: $ltext;
          }
        }
      }
      .pagination {
        display: flex;
        gap: 5px;
        button {
          cursor: pointer;
          font-size: 0.6rem;
          font-weight: 500;
          border: none;
          border-radius: 3px;
          color: $background;
          padding: 1px 4px;
          background-color: $accent;
          transition: all 0.1s ease-in;
          &.activePage {
            transform: scale(1.4);
            background-color: #fab437;
            color: #fff;
            font-weight: bold;
            font-size: px;
            border-radius: 3px;
          }
        }
      }
    }
    .box4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0px;
      gap: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
      p {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        color: $ltext;
      }
      .holidays {
        height: 110px;
        div {
          display: flex;
          gap: 10px;
          justify-content: space-between;
          p:nth-child(1) {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 0.7rem;
            color: $ltext;
          }
          p:nth-child(2) {
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 0.7rem;
            color: $ltext;
          }
        }
      }
    }
  }
  .attendanceReport {
    margin-block: 30px;
    p {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 600;
      color: $ltext;
    }
  }
  .monthlyReport {
    margin-block: 30px;
    p {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 600;
      color: $ltext;
      margin-bottom: 10px;
    }
  }
  .leave {
    margin-block: 30px;
    p {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 600;
      color: $ltext;
      margin-bottom: 10px;
    }
    .addBtn {
      display: flex;
      align-items: center;
      margin-left: 10px;
      gap: 3px;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      background-color: $text;
      color: $background;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.7rem;
      padding: 5px;
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    .boxes {
      margin: 0px;
      // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .attendanceReport {
      margin: 30px 0px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .container {
    .boxes {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}
@media screen and (max-width: 480px) {
  .container {
    .boxes {
      .box3 {
        .team {
          div {
            p:nth-child(1) {
              font-size: .9rem;
            }
            p:nth-child(2) {
              font-size: .8rem;
            }
          }
        }
      }
      .box4 {
        .holidays {
          div {
            p:nth-child(1) {
              font-size: .9rem;
            }
            p:nth-child(2) {
              font-size: .8rem;
            }
          }
        }
      }
    }
    p {
      font-size: 20px;
    }
  }
}
